nav {
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    width: 30%;
    height: 300px;
    background-size: cover;
    margin-bottom: 40px;
    flex-wrap: wrap;
    transition: 0.5s;
}

li:hover {
    width: 30%;
    height: 310px;
    transition: 0.5s;
}

li a {
    text-decoration: none;
    font-size: 27px;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
}

li p {
    background-color: #750708b3;
    text-align: center;
    align-self: flex-end;
    width: 100%;
}

#Accueil {
    background-image: url('../images/gsvPresentation.jpeg');
}

#Achat {
    background-image: url('../images/guitareVenteAchat.jpeg');
}

#Accessoires {
    background-image: url('../images/gsvAccessoire.jpeg');
}

#Reparation {
    background-image: url('../images/gsvReparation.jpeg');
}

#Evenement {
    background-image: url('../images/tedNugentEvent.jpeg');
}

#Contact {
    background-image: url('../images/guitarContact.jpeg');
}