* {
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: "Police_Lobster";
    src: url("../fonts/Lobster_1.4.otf");
}

h1,
h2 {
    font-size: 55px;
    font-family: "Police_Lobster";
    color: grey;
}

body {
    width: 1200px;
    margin: auto;
}


/* Style pour le header */

header {
    display: flex;
    width: 100%;
    height: 750px;
    background-image: url(../../asset/images/gsvHeaderTest.jpg);
    background-size: cover;
    margin-bottom: 100px;
}

header .logo {
    align-self: flex-end;
    max-width: 30%;
    height: auto;
    background-color: rgba(93, 37, 37, 0.6);
}

header .titre {
    align-self: flex-end;
    width: 100%;
}

.logo img {
    width: 80%;
}

header h1 {
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(93, 37, 37, 0.6);
    text-align: center;
    font-size: 80px;
    margin: 0%;
}


/* Style pour le slider de photo */

.sliderPhoto {
    margin-bottom: 100px;
    padding: 30px;
    width: 100%;
    height: auto;
    background-color: rgba(117, 7, 8, 0.9);
}

.sliderPhoto h2 {
    text-align: center;
    color: white;
}

.sliderPhoto div {
    width: 80%;
    height: auto;
}

.sliderPhoto img {
    width: 100%;
    height: 100%;
}


/* Style pour le footer */

footer {
    width: 100%;
    padding-top: 30px;
    border-top: 5px solid #750708;
    display: flex;
    flex-direction: column;
}

footer .container {
    display: flex;
    padding-bottom: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer .container div {
    display: flex;
    width: 45%;
    flex-direction: column;
    align-items: center;
}

footer .numTel {
    background-color: #750708;
    min-width: 50%;
    margin: auto;
    color: white;
    font-size: 30px;
    text-align: center;
}

footer .adresse,
.mail {
    color: grey;
    font-size: 20px;
}

footer .reseaux {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #750708;
    margin-top: 30px;
}

footer .reseaux img {
    height: 50px;
    margin-right: 10px;
}

footer .map .horaires {
    font-size: 25px;
    text-align: center;
    width: 100%;
    color: #750708;
    font-weight: bold;
}

footer .map .googleMap {
    text-align: center;
    padding-top: 20px;
    width: 100%;
    height: 375px;
}

.googleMap iframe {
    width: 100%;
    height: 100%;
}

footer .mention {
    width: 100%;
    height: auto;
    background-color: #750708;
    color: white;
    display: flex;
    align-content: space-between;
}

footer .mention div {
    text-align: center;
    width: 33%;
    font-size: 15px;
    line-height: 3em;
}


/* Css de notre equipe */

.notreEquipe {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.notreEquipe div {
    width: 40%;
    height: auto;
    font-size: 17px;
    margin-bottom: 50px;
    text-align: center;
}

.notreEquipe div img {
    width: 60%;
    height: auto;
}

.itemLelarge {
    text-align: center;
}

.itemDarouen {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    font-weight: bold;
    color: grey;
}


/* Css de presentationGSV */

.presentation {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    flex-flow: wrap;
}

.presentation div {
    width: 45%;
}

.guitarContainer {
    font-size: 17px;
    text-align: justify;
}

.imgGuitarRight img {
    width: 100%;
    margin-top: 110px;
}


/* partie responsive */

@media screen and (max-width: 1200px) {
    body {
        width: 100%;
    }
    .presentation {
        flex-flow: wrap;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 960px) {
    header {
        flex-direction: column;
        justify-content: space-between;
    }
    header div {
        width: 100%;
    }
    .logo {
        min-width: 50%;
        margin: auto;
    }
    .logo img {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .presentation div {
        width: 80%;
    }
    .notreEquipe {
        flex-direction: column;
        align-content: center;
    }
    .notreEquipe div {
        width: 80%;
    }
    .container {
        flex-direction: column;
        align-content: center;
    }
    .container .map {
        width: 80%;
    }
    .container .coordonnees {
        width: 80%;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 740px) {
    li {
        min-width: 40%;
        max-height: 150px;
    }
}